<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Transaction details</title>
</head>
<body>
   
</BR>
</BR>
</BR>
<div align="center">Transaction Details </div>
</BR>
<table align="center">
    
<thead>
         <tr align="left">
         <th width="20%">Transaction ID</th> <th width="40%">Description</th> <th width="20%">Category</th>
         </tr>
         </thead>
         <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.value.transactionId}">TransactionId</td>
                 <td th:text="${transaction.value.description}">Description</td>
                 <td th:text="${transaction.value.category.name}">Category</td>
            </tr>
            </tbody>
        </table>
        
    </tr>
</table>
</tr>
		
</body>
</html>